@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/foundation-sites/scss/util/util';

#editor_holder {
    
    .je-object__container {
        .je-indented-panel {
            border: none;
            padding-left: 25px;
            .row {
                display: block;
            }
            .form-control {
                display: flex;
                label {
                    width: 20%;
                    font-size: 13px;
                    margin: 10px;
                }
                input[type=text],
                input[type=password],
                input[type=email] {
                    position: relative;
                    width: 500px;
                    max-width: 100%;
                    padding: 8px 0;
                    font-size: 15px;
                    background-color: transparent;
                    border: 0;
                        border-bottom-color: currentcolor;
                        border-bottom-style: none;
                        border-bottom-width: 0px;
                    border-bottom: 2px solid #ccc;
                    transition: border .2s;

                    &:focus {
                        border-bottom: 2px solid $argo-color-teal-5;
                    }
                }

                input[type=checkbox] {
                    width: 20px !important;
                    height: 20px;
                    cursor: pointer;
                    float: right;
        
                    &:focus {
                        border: 2px solid $argo-color-teal-5;
                    }
                }
                select {
                    border: none;
                    position: relative;
                    padding: 8px 20px 8px 0;
                    font-size: 15px;
                    border-bottom: 2px solid #ccc;
                    transition: border .2s;
                    cursor: pointer;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    background: unset;

                    &:focus {
                        border-bottom: 2px solid $argo-color-teal-5;
                    }
        
                    option {
                        padding: 10px 12px;
                        color: #6D7F8B;
                        cursor: pointer;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border: green;
                    }
                }
            }
        }
    }

    
    .je-object__title, label {
        font-size: 0.8125rem;
    }
}